@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

/* build your layout */
body {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.row1 {
  display: flex;
  height: 75%;
  width: 100%;
}
.row2 {
  display: flex;
  height: 25%;
  width: 100%;
}
.rect {
  height: 100%;
  width: calc(100% / 6);
}
.rect2 {
  height: 100%;
  width: 70%;
}
.box {
  height: 100%;
  width: 30%;
  position: relative;
}

.symbol {
  height: 25%;
  width: 25%;
}
.artInstruct {
  margin-top: 5px;
  height: 20%;
  width: 100%;
  position: absolute;
}

.no-cursor {
  cursor: default;
}

text {
  font-family: "Nosifer";
  font-size: 25px;
  text-align: center;
  color: #fffbfb;
}

textMirror {
  font-family: "Nosifer";
  font-size: 65px;
  text-align: center;
  color: #a00808;
}

.ground {
  background-image: url("images/groundPicturee.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  bottom: 0;
}

.coverGround {
  background-image: url("images/boxGround.png");
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
/* control your content */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.cover-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.contain-image {
  max-height: 75%;
  max-width: 75%;
}

.contain-icon {
  max-height: 75%;
  max-width: 75%;
  right: 40%;
  bottom: 0;
  position: absolute;
}

.note-contain {
  max-height: 55%;
  max-width: 55%;
  right: 5%;
  bottom: 20%;
  position: absolute;
}

.contain-box {
  max-height: 95%;
  max-width: 95%;
  left: 5%;
  position: relative;
  transform: scaleX(-1);
}

.contain-symbol {
  max-height: 75%;
  max-width: 75%;
  border-radius: 50%;
  object-fit: contain;
}

.containSkull {
  height: 75%;
  width: 25%;
  border-radius: 65%;
  object-fit: contain;
}

.artLeft {
  position: absolute;
  bottom: 25%;
  left: 20%;
  max-width: 100%;
  height: auto;
}
.dialogue {
  position: absolute;
  bottom: 25%;
  right: 16%;
  max-width: 90%;
  height: auto;
}

/* enhance the UX */
.clickk:hover {
  cursor: pointer;
  color: rgb(22, 17, 36);
  filter: drop-shadow(2px 8px 3px);
}

.red-click:hover {
  cursor: pointer;
  color: rgb(119, 40, 53);
  filter: brightness(1.5) drop-shadow(4px 12px 12px);
}

.grey-click:hover {
  cursor: pointer;
  color: #a9a9a9;
  filter: brightness(1.5) drop-shadow(4px 12px 12px);
}

.purple-click:hover {
  cursor: pointer;
  color: rgb(96, 31, 170);
  filter: brightness(1.5) drop-shadow(4px 12px 12px);
}

.blue-click:hover {
  cursor: pointer;
  color: rgb(40, 55, 119);
  filter: brightness(1.5) drop-shadow(4px 12px 12px);
}

.blue-click:active,
.purple-click:active,
.grey-click:active,
.clickk:active,
.red-click:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

.opaque {
  opacity: 0.3;
  cursor: default;
}

.buttonColor {
  content: url("images/buttonNext.png");
  max-height: 75%;
  max-width: 75%;
}

.unlock-btn {
  height: 20%;
  width: 25%;
  cursor: pointer;
  background-color: #2f0000;
}

/* colors help visually separate divs */
.light-grey {
  background-color: #a9a9a9;
}
.dark-grey {
  background-color: #707070;
}
.black {
  background-color: black;
}
.blood {
  background-color: #2f0000;
}

.blue {
  background-color: rgb(40, 55, 119);
}

.red {
  background-color: rgb(119, 40, 53);
}

.purple {
  background-color: rgb(96, 31, 170);
}
/* Add a modal pop-up window */
/* https://en.wikipedia.org/wiki/Modal_window */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.95;
}

.modalTwo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgb(71, 49, 49);
  opacity: 0.95;
}

.modalMirror {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(15, 14, 14, 0.596);
  opacity: 0.9;
  width: 100%;
  height: 100%;
}
/* Don't cover the entire screen */
.modal-body {
  width: 60%;
  height: 70%;
  opacity: 1;
  margin: 0;
}

.modal-inventory {
  width: 40%;
  height: 80%;
  opacity: 1;
  margin: 0;
  display: flex;
}

.modal-lock {
  width: 70%;
  height: 80%;
  opacity: 1;
  margin: 0;
}

.modal-mirror {
  width: 40%;
  height: 50%;
  opacity: 0.9;
  margin: 0;
  display: block;
}
/* The Close Button */
.closeInventory {
  color: #ff0000;
  position: fixed;
  top: 0%;
  right: 25%;
  font-size: 160px;
  font-weight: bold;
  z-index: 10;
}

.closeKey {
  color: #ff0000;
  position: fixed;
  top: 1%;
  right: 10%;
  font-size: 160px;
  font-weight: bold;
  z-index: 10;
}

.close {
  color: #ff0000;
  position: fixed;
  top: 40%;
  right: 12%;
  font-size: 100px;
  font-weight: bold;
  z-index: 10;
  display: none;
}

.closeMirror {
  color: #ff0000;
  position: fixed;
  top: 21%;
  right: 30%;
  font-size: 120px;
  font-weight: bold;
  z-index: 10;
}
.closeInventory:hover,
.closeInventory:focus,
.closeKey:hover,
.closeKey:focus,
.closeMirror:hover,
.closeMirror:focus,
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.rowModal {
  height: 45%;
  width: 100%;
  display: flex;
}

.columnModal {
  height: 100%;
  width: 50%;
  display: block;
}

.boxModal {
  height: 95%;
  width: 25%;
  border-radius: 50%;
}

.inventoryBox {
  height: 50%;
  width: 100%;
}
